/* red-hat-display-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/red-hat-display-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 1.0417)), 1.75rem);
  min-height: 0vw;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  text-align: center;
  height: 100%;
  min-height: 100dvh;
  aspect-ratio: 1 / 1;
  width: 100%;
}

header {
  flex: 0 0;
}

main {
  flex: 1 0;
}

ul,
li {
  list-style: none;
  margin: 0;
}

.pieces {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--columns), 1fr);
  width: min-content;
  max-width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover button {
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
  }

  button {
    --size: 1.5em;
    margin: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    padding: 0.25em;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 0.25em;
    font-family: inherit;
    transition: 0.25s ease-out;
    transition-property: background-color transform;
    user-select: none;
  }
}

.symbol {
  animation: spin calc(12s + (var(--rotation-speed) * 1s)) infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hot-cold-slider {
  --height: 4px;
  margin: 4em;
  position: relative;
  background: rgba(81, 0, 255, 0.3);
  height: var(--height);
  border-radius: var(--height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temperature-symbol {
  --size: 2em;
  font-size: 2em;
  left: var(--translateX);
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  transition: transform 0.15s ease-in-out;
}
