/* red-hat-display-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/red-hat-display-latin-700.woff2") format("woff2");
}

:root {
	--orange: rgba(255, 159, 28, 1);
	--yellow: rgba(255, 191, 105, 1);
	--white: rgba(255, 255, 255, 1);
	--mint: rgba(203, 243, 240, 1);
	--light-green: rgba(46, 196, 182, 1);
}

* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 1.0417)), 1.75rem);
	min-height: 0vw;
}

body {
	font-family: "Red Hat Display", sans-serif;
	font-size: clamp(12px, 2vw, 24px);
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
	overscroll-behavior: none;
}

.app {
	--padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--padding);
	text-align: center;
	height: 100%;
	gap: 1rem;
	min-height: calc(100dvh - 1.5rem);
	animation: color-fade 60s alternate infinite;
	transition: background-color 10s ease-in-out;
}

header {
	flex: 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// .title {
// 	visibility: hidden;
// }

main {
	flex: 1 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul,
li {
	list-style: none;
	margin: 0;
}

.pieces {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(var(--columns), 1fr);
	width: min-content;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.25em;
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 0.25em;
	font-family: inherit;
	transition: 0.25s ease-out;
	transition-property: background-color transform;
	user-select: none;
}

.piece {
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover button {
		background-color: rgba(255, 255, 255, 0.6);
		transform: scale(1.1);
	}

	button {
		--size: 1.5em;
		margin: 0.25em;
		width: var(--size);
		height: var(--size);
		font-size: 1.3em;
	}
}

.symbol {
	animation: spin calc(12s + (var(--rotation-speed) * 1s)) infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

// ["#ffd074", "#fba17d", "#ff8b87", "#ffa6c8", "#e1aaf2", "#b7b4f6"]
@keyframes color-fade {
	0% {
		background-color: #b7b4f6;
	}
	25% {
		background-color: #e1aaf2;
	}
	50% {
		background-color: #ffa6c8;
	}
	75% {
		background-color: #ff8b87;
	}
	100% {
		background-color: #fba17d;
	}
}
